.banner {
  background-size: cover;
  padding: 200px 0;
  background-image: url(../../images/background.png);
}

.banner h1 {
  color: white;
  margin: 0;
  padding-bottom: 30px;
  font-size: 32px;
}

.banner p {
  color: rgba(240, 240, 240, 0.7);
  margin: 0;
  font-size: 20px;
  margin-bottom: 40px;

}
